<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>elpis</title>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>

</head>

<body>


    <nav>
        <div class="navbar-main">
            <div class="brand">
                <h2>elpis
                </h2>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">About Us</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/register">Register</a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa-solid fa-bottle-water"> <sup id="mybottle">12</sup></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <div class="account">
                            <i class="fa-regular fa-user"></i>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="dropdown-content">
        <ul>
            <li>
                <i class="fa-regular fa-user"></i>
                <a href="">My Profile</a>
            </li>
            <li>
                <i class="fa-regular fa-pen-to-square"></i>
                <a href="">Edit Profile</a>
            </li>
            <li>
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </div>

    <div class="hero">

    </div>
    <div class="card">
        <div id="container">

            <div class="product-details">

                <h1>Araz Cafe</h1>
                <span class="hint-star star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>

                <p class="information">"Bridge Plaza -nın birinci mərtəbəsində yerləşən Bridge cafe -nin artıq çoxdan
                    çoxsylı daimi müştəriləri formalaşıb. Bu səbəbsiz deyil. Burada istirahət günləri sevimli filmlərə
                    baxmaqla yanaşı, məkanın əla menyusundan zövq ala bilərsiniz.</p>



                <div class="control">

                    <button class="btn-cafe">
                        <span class="price"><i class="fa-solid fa-bottle-water"> 10 </i></span>
                        <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                        <span class="buy">Get now</span>
                    </button>

                </div>

            </div>

            <div class="product-image">

                <img src="img/the-bridge-cafe-1.png">
                <div class="info">
                    <h2> Description</h2>
                    <ul>
                        <li><strong>Height : </strong>5 Ft </li>
                        <li><strong>Shade : </strong>Olive green</li>
                        <li><strong>Decoration: </strong>balls and bells</li>
                        <li><strong>Material: </strong>Eco-Friendly</li>

                    </ul>
                </div>
            </div>

        </div>

        <div id="container">

            <div class="product-details">

                <h1>Addio Cafe</h1>
                <span class="hint-star star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>

                <p class="information">Background music, Breakfast, Business lunch, Delivery, Drinks, Hookah, Reception
                    of banquets, Tables reservation, Take Away, VIP room, Wi-Fi</p>



                <div class="control">

                    <button class="btn-cafe">
                        <span class="price"><i class="fa-solid fa-bottle-water"></i> 10</span>
                        <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                        <span class="buy">Get now</span>
                    </button>

                </div>

            </div>

            <div class="product-image">

                <img src="img/addio-cafe-1.jpg">
                <div class="info">
                    <h2> Description</h2>
                    <ul>
                        <li><strong>Height : </strong>5 Ft </li>
                        <li><strong>Shade : </strong>Olive green</li>
                        <li><strong>Decoration: </strong>balls and bells</li>
                        <li><strong>Material: </strong>Eco-Friendly</li>

                    </ul>
                </div>
            </div>
        </div>
        <div id="container">

            <div class="product-details">

                <h1>Cafe City</h1>
                <span class="hint-star star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>

                <p class="information">Burada yeməklərin hazırlandığı məhsullar Avropadan gətirlir
                    .Menyuda hər bir yemək şəkillə təqdim olunub. Menyuya salatlar, məzələr, suplar, pastalar,
                    blinlər, desertlər və geniş çeşidli içkilər və kokteyllər
                    daxildir</p>



                <div class="control">

                    <button class="btn-cafe">
                        <span class="price"><i class="fa-solid fa-bottle-water"></i> 10</span>
                        <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                        <span class="buy">Get now</span>
                    </button>

                </div>

            </div>

            <div class="product-image">

                <img src="img/cafe-city-1.jpg">
                <div class="info">
                    <h2> Description</h2>
                    <ul>
                        <li><strong>Height : </strong>5 Ft </li>
                        <li><strong>Shade : </strong>Olive green</li>
                        <li><strong>Decoration: </strong>balls and bells</li>
                        <li><strong>Material: </strong>Eco-Friendly</li>

                    </ul>
                </div>
            </div>
        </div>
        <div id="container">

            <div class="product-details">

                <h1>Kolorit Cafe</h1>
                <span class="hint-star star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>

                <p class="information">Rəngarəngliyi ilə insanda ilk baxışdan doğmalıq yaradan bu məkan 24 saat
                    müddətində xidmətinizdədir. Arzuladığınız bir çox təamları və xüsusəndə Türk, Avropa mətbəxinin
                    ləziz yeməklərini burada dada bilərsiniz. </p>



                <div class="control">

                    <button class="btn-cafe">
                        <span class="price"><i class="fa-solid fa-bottle-water"></i> 10</span>
                        <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                        <span class="buy">Get now</span>
                    </button>

                </div>

            </div>

            <div class="product-image">

                <img src="img/kolorit-cafe-dining-1.png">
                <div class="info">
                    <h2> Description</h2>
                    <ul>
                        <li><strong>Height : </strong>5 Ft </li>
                        <li><strong>Shade : </strong>Olive green</li>
                        <li><strong>Decoration: </strong>balls and bells</li>
                        <li><strong>Material: </strong>Eco-Friendly</li>

                    </ul>
                </div>
            </div>
        </div>




    </div>
    <h2 class="scan-h2">Scan et ve botl qazan</h2>
    <div class="scanner">
        <div id="reader" class="Html5Qrcode"></div>
        <div id="result"></div>
    </div>


    <h2 class="about-h2">About</h2>
    <div class="about">

        <div class="about-container">
            <div class="about-card">
                <div class="about-card-header">
                    <img src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg" alt="rover" />
                </div>
                <div class="about-card-body">
                    <span class="tag tag-teal">Technology</span>
                    <h4>
                        Why is the Tesla Cybertruck designed the way it
                        is?
                    </h4>
                    <p>
                        An exploration into the truck's polarising design
                    </p>

                </div>
            </div>
            <div class="about-card">
                <div class="about-card-header">
                    <img src="https://www.newsbtc.com/wp-content/uploads/2020/06/mesut-kaya-LcCdl__-kO0-unsplash-scaled.jpg"
                        alt="ballons" />
                </div>
                <div class="about-card-body">
                    <span class="tag tag-purple">Popular</span>
                    <h4>
                        How to Keep Going When You Don’t Know What’s Next
                    </h4>
                    <p>
                        The future can be scary, but there are ways to
                        deal with that fear.
                    </p>

                </div>
            </div>
            <div class="about-card">
                <div class="about-card-header">
                    <img src="https://images6.alphacoders.com/312/thumb-1920-312773.jpg" alt="city" />
                </div>
                <div class="card-body">
                    <span class="tag tag-pink">Design</span>
                    <h4>
                        10 Rules of Dashboard Design
                    </h4>
                    <p>
                        Dashboard Design Guidelines
                    </p>

                </div>
            </div>

        </div>
    </div>

    <section id="contact" class="mt-5 pt-5 pb-5 bg-light">
        <div class="container">
            <div class="section-name">
                <h2>Contact Us</h2>
                <span class="line"></span>
                <p>
                    Fill contact form and tell us about problems you have faced on our site or your suggestions.
                    We will develop with your thoughts.
                </p>
            </div>
            <div class="row g-2 mt-3">
                <div class="col-lg-4 col-sm-self-6">
                    <div class="social-item">
                        <a href="#">
                            <h3>Instagram</h3>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-self-6">
                    <div class="social-item">
                        <a href="#">
                            <h3>Mail Us</h3>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="social-item">

                        <a href="#">
                            <h3>Call Us</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="contact-form mt-4">
                <div class="row g-3">
                    <div class="col-lg-6">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="col-lg-6">
                        <label>Surname</label>
                        <input type="text" class="form-control" placeholder="Your Surname">
                    </div>
                    <div class="col-lg-6">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="Your Mail">
                    </div>
                    <div class="col-lg-6">
                        <label>Subject</label>
                        <input type="text" class="form-control" placeholder="Subject Of Message">
                    </div>
                    <div class="col-lg-12">
                        <textarea class="form-control" rows="10" placeholder="You Message Here"></textarea>
                    </div>
                </div>
                <button type="submit" class="contact-btn mt-2">Submit</button>
            </div>
        </div>
    </section>
    <footer class="footer ">
        <div class="copyright text-center">
            <p>&copy; 2022 | All Rights Reserved</p>
        </div>
        <div class="credit text-center">
            <p>Designed & Developed by Ilkin Babayev
            </p>
        </div>
    </footer>




    <script>
        const scanner = new Html5QrcodeScanner('reader', {
            qrbox: {
                width: 150,
                height: 150

            },
            fps: 20,
            acpectRatio: 1
        })
        scanner.render(success, error);
        function success(result) {
            console.log(result)
            document.getElementById(result).innerHTML = 17;
            document.getElementById("result").innerHTML = "<h2 style='color:green'>Bootle ugurla elave edildi</h2>";

        }
        function error(err) {
            console.log(err);
        }
        Html5Qrcode.getCameras().then(devices => {
            /**
             * devices would be an array of objects of type:
             * { id: "id", label: "label" }
             */
            if (devices && devices.length) {
                var cameraId = devices[0].id;
                // .. use this to start scanning.
            }
        }).catch(err => {
            // handle err
        });


    </script>


    <script src="https://kit.fontawesome.com/0dc52230ad.js" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>

</body>

</html>